## 4가지 데이터 파일의 중복을 제거한 후 저장

In [14]:
from google.colab import files
filenames = []
for _ in range(4):
    uploaded = files.upload()
    filenames.append(list(uploaded.keys())[0])

Saving 1_crawling_jejudoGwanGwang.xlsx to 1_crawling_jejudoGwanGwang.xlsx

Saving 1_crawling_jejudoMatJip.xlsx to 1_crawling_jejudoMatJip.xlsx

Saving 1_crawling_jejuMatJip.xlsx to 1_crawling_jejuMatJip.xlsx

Saving 1_crawling_jejuYeoHang.xlsx to 1_crawling_jejuYeoHang.xlsx

In [15]:
import pandas as pd

df = pd.read_excel(filenames[0])
df.head()

                                             content  ...                                               tags
0  더 늦기전에 제주도로 떠나쟈😍.#제주핫플레이스 간단히 1탄 모아봄!#제주여행 요 필...  ...  ['#제주핫플레이스', '#제주여행', '#제주여행', '#제주도여행', '#제주가...
1  12월에 제주도를 가야하는이유🍊.#제주핫플 모음 끝판왕😍이거 하나면 겨울 #제주여행...  ...  ['#제주핫플', '#제주여행', '#제주', '#제주도', '#제주도맛집', '#...
2  11월 놓치지 말아야 할 제주 관광.가을바람이 최고조에 이르는 11월추운 겨울을 앞...  ...  ['#honestin', '#어니스틴', '#제주여행', '#제주', '#제주도',...
3  국민학교세대#제주관광#제주살이#제주이주민#아라동주민#삼남매집 #새해첫날#드라이브#명...  ...  ['#제주관광', '#제주살이', '#제주이주민', '#아라동주민', '#삼남매집'...
4  #제주관광 #제주 #돔나이트 #스트레스 #풀자 #춤추며 #땀날려 #가끔은괜찮아 #인...  ...  ['#제주관광', '#제주', '#돔나이트', '#스트레스', '#풀자', '#춤추...

[5 rows x 5 columns]

In [23]:
jeju_df = pd.DataFrame([])
for fname in filenames:
    df = pd.read_excel(fname)
    jeju_df = jeju_df.append(df)

jeju_df.shape

(12780, 5)

In [24]:
jeju_df.head()

                                             content  ...                                               tags
0  더 늦기전에 제주도로 떠나쟈😍.#제주핫플레이스 간단히 1탄 모아봄!#제주여행 요 필...  ...  ['#제주핫플레이스', '#제주여행', '#제주여행', '#제주도여행', '#제주가...
1  12월에 제주도를 가야하는이유🍊.#제주핫플 모음 끝판왕😍이거 하나면 겨울 #제주여행...  ...  ['#제주핫플', '#제주여행', '#제주', '#제주도', '#제주도맛집', '#...
2  11월 놓치지 말아야 할 제주 관광.가을바람이 최고조에 이르는 11월추운 겨울을 앞...  ...  ['#honestin', '#어니스틴', '#제주여행', '#제주', '#제주도',...
3  국민학교세대#제주관광#제주살이#제주이주민#아라동주민#삼남매집 #새해첫날#드라이브#명...  ...  ['#제주관광', '#제주살이', '#제주이주민', '#아라동주민', '#삼남매집'...
4  #제주관광 #제주 #돔나이트 #스트레스 #풀자 #춤추며 #땀날려 #가끔은괜찮아 #인...  ...  ['#제주관광', '#제주', '#돔나이트', '#스트레스', '#풀자', '#춤추...

[5 rows x 5 columns]

In [25]:
# 중복데이터 제거
jeju_df.drop_duplicates(subset=['content'], inplace=True)
jeju_df.to_csv('제주핫플레이스.csv', index = False)

In [26]:
jeju_df.shape

(8369, 5)

In [27]:
df = pd.read_csv('제주핫플레이스.csv')
df.head()

                                             content  ...                                               tags
0  더 늦기전에 제주도로 떠나쟈😍.#제주핫플레이스 간단히 1탄 모아봄!#제주여행 요 필...  ...  ['#제주핫플레이스', '#제주여행', '#제주여행', '#제주도여행', '#제주가...
1  12월에 제주도를 가야하는이유🍊.#제주핫플 모음 끝판왕😍이거 하나면 겨울 #제주여행...  ...  ['#제주핫플', '#제주여행', '#제주', '#제주도', '#제주도맛집', '#...
2  11월 놓치지 말아야 할 제주 관광.가을바람이 최고조에 이르는 11월추운 겨울을 앞...  ...  ['#honestin', '#어니스틴', '#제주여행', '#제주', '#제주도',...
3  국민학교세대#제주관광#제주살이#제주이주민#아라동주민#삼남매집 #새해첫날#드라이브#명...  ...  ['#제주관광', '#제주살이', '#제주이주민', '#아라동주민', '#삼남매집'...
4  #제주관광 #제주 #돔나이트 #스트레스 #풀자 #춤추며 #땀날려 #가끔은괜찮아 #인...  ...  ['#제주관광', '#제주', '#돔나이트', '#스트레스', '#풀자', '#춤추...

[5 rows x 5 columns]

In [22]:
df.tail()

                                                content  ...                                               tags
2947  #수원문화재단 #취미반 #제주관광 #인생게임 #제주관광명소 #저수지게임 #관광차 #...  ...  ['#수원문화재단', '#취미반', '#제주관광', '#인생게임', '#제주관광명소...
2948  .✔  반하다뷰티샵은?피부관리 국가자격증 보유K-뷰티전문가연합회 제주지부 제주지부장...  ...  ['#서귀포남자눈썹문신', '#서귀포자연눈썹', '#제주속눈썹연장', '#제주남자눈...
2949  햇살에 그을린 피부도 잊게하는 바다색~ --- #제주해수욕장 #제주관광 #제주여행지...  ...  ['#제주해수욕장', '#제주관광', '#제주여행지', '#여행하기좋은날', '#여...
2950  .✔  반하다뷰티샵은?피부관리 국가자격증 보유K-뷰티전문가연합회 제주지부 제주지부장...  ...  ['#서귀포남자눈썹문신', '#제주속눈썹연장', '#서귀포자연눈썹', '#제주시',...
2951  #새별오름#제주억새 살포시다녀왔당ㅋㅋ억새보다많아보이는주차된차들넘무서버ㅋㅋ#푸드트럭 ...  ...  ['#새별오름', '#제주억새', '#푸드트럭', '#힐링만빵', '#제주살이', ...

[5 rows x 5 columns]