# 데이터프레임 고급 인덱싱

In [4]:
import numpy as np
import pandas as pd

## loc 인덱서

In [3]:
# numpy => a[행, 열]
# df.loc[행, 열]
# df.iloc[행숫자, 열숫자]

In [6]:
df = pd.DataFrame(np.arange(10, 22).reshape(3, 4),
                  index=["x", "y", "z"],
                  columns=["A", "B", "C", "D"])
df

    A   B   C   D
x  10  11  12  13
y  14  15  16  17
z  18  19  20  21

In [7]:
df.loc['x']

A    10
B    11
C    12
D    13
Name: x, dtype: int64

In [8]:
df.loc['x':'y']         # df['x':'y'] 와 동일

    A   B   C   D
x  10  11  12  13
y  14  15  16  17

In [9]:
df.loc[['x','z']]

    A   B   C   D
x  10  11  12  13
z  18  19  20  21

In [10]:
df['A'] > 15

x    False
y    False
z     True
Name: A, dtype: bool

In [11]:
df.loc[df.A > 15]       # True만 나오는 Boolean indexing 도 가능.

    A   B   C   D
z  18  19  20  21

### 1개만 있으면 행 인덱싱

In [12]:
df.loc['x']

A    10
B    11
C    12
D    13
Name: x, dtype: int64

## 인덱서 2개를 받는 경우

In [14]:
df.loc['x', 'A']

10

In [15]:
df.loc['y':, 'B']   # 인덱서 2개 : 행, 열

y    15
z    19
Name: B, dtype: int64

In [21]:
df.loc[:'y','A':]

    A   B   C   D
x  10  11  12  13
y  14  15  16  17

In [17]:
df.loc[df.A > 10, 'B']

y    15
z    19
Name: B, dtype: int64

## iloc 인덱서

In [18]:
df.iloc[0, 0]

10

In [20]:
df.iloc[:2, 1:]

    B   C   D
x  11  12  13
y  15  16  17

In [22]:
### 연습문제 4.3.1
df = pd.DataFrame(np.arange(25).reshape(5, 5),
                  index = ['a', 'b', 'c', 'd', 'e'],
                  columns = ['v', 'w', 'x', 'y', 'z'])
df

    v   w   x   y   z
a   0   1   2   3   4
b   5   6   7   8   9
c  10  11  12  13  14
d  15  16  17  18  19
e  20  21  22  23  24

In [23]:
# 12 값 도출
df['x']['c'], df.x['c'], df.x[2], df.x.c

(12, 12, 12, 12)

In [28]:
# loc
df.loc['c', 'x'], df.loc['c']['x'], df.loc['c'][2]

(12, 12, 12)

In [30]:
# iloc
df.iloc[2, 2], df.iloc[2]['x'], df.iloc[2][2]

(12, 12, 12)

In [31]:
df.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [32]:
for i in df.index:
    print(df.x[i])

2
7
12
17
22